.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items{
    display: flex;
    align-items: center;
}
.nav-items ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo{
    height: 100px;
}

.resto-card{
    background-color: #e3e3e3;
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.resto-card img{
    width: 100%;
    height: 45%;
}

#resto-name{
    text-align: center;
}

.resto-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shimmer-card{
    background-color: #fef9f9;
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

#restro-menu-details{
    height: 300px;
}